* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  font-family: Poppins, sans-serif;
}

.container {
  max-width: 90%;
  margin: 0 auto;
}

li {
  list-style: none;
}

h2 {
  color: rgb(47, 68, 119);
  margin-bottom: 1rem;
}

/* --------------- HEADER --------------- */
.title {
  padding: 25px 0;
  text-align: center;
}

h1 {
  color: rgb(249, 111, 6);
  font-size: 2rem;
}

/* --------------- FILTER --------------- */
.filter {
  padding: 25px 0;
  background-color: rgb(246, 246, 246);
}

.filter label {
  margin-left: 1rem;
}


/* --------------- EVENTS--------------- */
.eventslist {
  padding: 25px 0;
}

/* --------------- EVENT--------------- */
.event {
  background-color: rgb(47, 68, 119);
  margin-bottom: 1rem;
  padding: 50px 25px 75px;
  border-radius: 25px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

h4 {
  color: #fff;
  font-size: 1.1rem;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 0.5rem;
}

h3 {
  color: rgb(252, 208, 63);
  text-align: center;
  font-size: 1.4rem;
  text-transform: capitalize;
  margin-bottom: 1rem;
}

.event p {
  color: #fff;
  margin-left: 50px;
}

/* --------------- FORM--------------- */
.form {
  background-color: rgb(232, 232, 232);;
  padding: 25px 0;
  max-width: 90%;
  margin: 0 auto;
  border-radius: 25px;
}

.form input {
  display: block;
  width: 100%;
  margin-bottom: 1rem;
  padding: 0.5rem;
}

.form select {
  display: block;
  width: 100%;
  margin-bottom: 1rem;
  padding: 0.6rem;
}

.form #esubmit {
  background-color: rgb(249, 111, 6);
  color: #fff;
  border-radius: 25px;
  border: none;
  display: block;
  width: 25%;
  margin: 25px auto;
  text-transform: uppercase;
}